<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Dicoding Submission Project Restaurant Apps by Senno Adi">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#FB8868" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap" rel="preload" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload stylesheet" as="font" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant Apps Starter Project</title>
</head>

<body>
    <a href="#restoList" class="skip-link">Menuju ke konten</a>
    <header>
        <button id="bento-menu" tabindex="0" aria-label="klik untuk membuka side menu">
            <div class="bento-menu">
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
                <div class="bento-dot"></div>
            </div>

        </button>
        <div id="header_logo">
            <a href="/" tabindex="0">Foodish</a>
        </div>

        <nav id="header_nav">
            <ul>
                <li><a class="nav_btn" href="#/popular" tabindex="0">Home</a></li>
                <li> <a class="nav_btn" href="#/favorite" tabindex="0">Favorite</a></li>
                <li><a class="nav_btn" href="https://www.dicoding.com/users/senno1245" tabindex="0">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="hero" class="lazyload">
            <div class="hero-text">
                <h1 style="font-size:50px">Are You Hungry?</h1>
            </div>
        </div>
        <footer>
            <p>Dicoding Submission Project Restaurant Apps © 2021, Senno Adi</p>
        </footer>
        <div id="mainContent">

        </div>

    </main>

</body>

</html>